<button (click)="addUser()">ユーザ追加</button>

<div class="user-wrap">
  <div>
    @for(user of userList;track user.id; let myCount = $count, myIndex = $index,
    isFirst = $first, isLast = $last, isEven = $even, isOdd = $odd){

    <div>ユーザID：{{ user.id }}</div>
    <div>ユーザ名：{{ user.name }}</div>
    <div>{{ myIndex }}番目</div>
    <div>ユーザ総数{{ myCount }}人</div>
    <div>最初のユーザ？:{{ isFirst }}</div>
    <div>最後のユーザ？:{{ isLast }}</div>
    <div>奇数？:{{ isEven }}</div>
    <div>偶数？:{{ isOdd }}</div>
    <br />
    }@empty {
    <p>ユーザを追加してください</p>
    }
  </div>
</div>
